__pycache__
.cache
.dotnet
.keras
.local
.nv
.ssh
.venv
.vscode-server
.bash_history
.bash_logout
.bashrc
.emacs
.forward
.kshrc
.netrc
.python_history
.wget-hsts
wandb
.bash_profile
models
data
slurm-*
.gitconfig
plots